<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/general.css" />
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" href="../css/login.css" />
		<title>Sign-Up</title>
	</head>
	<body class="login-body">
		<header class="dark-background">
			<img class="burger-icon hide" src="../../assets/img/burger.png" alt="burger menu" />
			<h1>
				<a href="./index.html"><img class="main-logo" src="../../assets/img/Logo.png" alt="mega rocket" /></a>
			</h1>
		</header>

		<main class="gray-background login-main">
			<form id="login-form" class="login-form">
				<a class="login-btn-back" href="./index.html">
					<img src="../../assets/icons/sign-in-back-arrow.png" alt="go back" />
				</a>
				<h1>Sign in</h1>
				<div>
					<img src="../../assets/icons/sign-in-email-icon.svg" alt="email icon" />
					<input id="login-email" class="login-input" value="Email" type="text" />
					<ul id="email-error-list" class="error"></ul>
				</div>
				<div>
					<img src="../../assets/icons/sign-in-password-icon.svg" alt="password icon" />
					<input id="login-pass" class="login-input" value="Password" type="text" />
					<ul id="pass-error-list" class="error"></ul>
				</div>
				<a id="forgotten-pass" href="">Have you forgotten the password?</a>
				<div class="remember-me">
					<input name="remember-me" type="checkbox" value="remember-me" />
					<label for="remember-me">Remember me</label>
				</div>
				<div class="sign-up-link">
					<p>Don't have an account?</p>
					<a href="./sign-up.html">Click here to become a member</a>
				</div>

				<input id="login-btn" class="btn" type="button" value="Login" />
			</form>
		</main>
		<script src="../js/login.js"></script>
	</body>
</html>
