<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/general.css"">
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" href="../css/login.css" />
		<link rel="stylesheet" href="../css/sign-up.css" />
		<title>Register</title>
	</head>
	<body class="login-body">
		<header class="dark-background">
			<img class="burger-icon hide" src="../../assets/img/burger.png" alt="burger menu" />
			<h1>
				<a href="./index.html"><img class="main-logo" src="../../assets/img/Logo.png" alt="mega rocket" /></a>
			</h1>
		</header>
		<main class="gray-background login-main">
			<form class="login-form sign-up-form">
				<a class="login-btn-back" href="./index.html">
					<img src="../../assets/icons/sign-in-back-arrow.png" alt="go back" />
				</a>
				<h1>Register</h1>
				<div class="input-container">
					<div class="left-col">
						<label for="">Name</label>
						<input type="text" />
						<label for="">Last name</label>
						<input type="text" />
						<label for="">DNI</label>
						<input type="text" />
						<label for="">Born Date</label>
						<input type="text" />
						<label for="">Phone</label>
						<input type="text" />
					</div>
					<div class="right-col">
						<label for="">Address</label>
						<input type="text" />
						<label for="">Town/City</label>
						<input type="text" />
						<label for="">Post Code</label>
						<input type="text" />
						<label for="">Email</label>
						<input type="text" />
						<label for="">Password</label>
						<input type="text" />
						<label for="">Repeat Password</label>
						<input type="text" />
					</div>
				</div>
				<input id="sign-in-btn-continue" class="btn" type="submit" value="Continue" />

				<div class="sign-up-link">
					<p>You are already registered?</p>
					<a href="./login.html">Sign in</a>
				</div>
			</form>
		</main>
	</body>
</html>
