@media (min-width: 1024px) {

    /* Element Selectors */
    /* ----------------------------------------------------------- */
    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    nav {
        display: flex;
        align-self: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 100vh;
    }
    
    header {
        align-self: flex-end;
        width: 75%;
        height: 160px;
    }
    
    main {
        align-self: flex-end;
        width: 75%;
    }
    
    /* ----------------------------------------------------------- */
    
    
    

    /* General Classes */
    /* ----------------------------------------------------------- */
    .hide-nav{
        display: flex;
    }

    /* ----------------------------------------------------------- */




    /* Header */
    /* ----------------------------------------------------------- */
    
    .burger-icon {
        width: 36px;
        height: 29px;
        margin-left: 20px;
    }
    
    .main-logo {
        width: 223px;
        height: 50px;
        margin-right: 25px;
    }
    
    /* ----------------------------------------------------------- */
}