@media (min-width: 1024px) {

    /* Element Selectors */
    /* ----------------------------------------------------------- */
    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    
    nav {
        display: flex;
        align-self: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 25%;
        height: 100vh;
    }
    
    header {
        align-self: flex-end;
        width: 75%;
        height: 160px;
    }
    
    main {
        align-self: flex-end;
        width: 75%;
    }
    
    /* ----------------------------------------------------------- */
    
    
    

    /* General Classes */
    /* ----------------------------------------------------------- */
    .hide-nav{
        display: flex;
    }

    /* ----------------------------------------------------------- */




    /* Header */
    /* ----------------------------------------------------------- */

    .burger-icon {
        width: 36px;
        height: 29px;
        margin-left: 20px;
    }

    .main-logo {
        width: 223px;
        height: 50px;
        margin-right: 25px;
    }

    /* ----------------------------------------------------------- */




    /* NavBar */
    /* ----------------------------------------------------------- */

    .nav-links
    li {
        width: 23vw;
        height: 45px;
        margin-bottom: 23px;
    }

    .nav-links {
        margin-top: 26px;
    }

    .nav-links >
    li >
    a {
        color: var(--text-light);
        text-transform: uppercase;
        font-size: 25px;
    }

    .contact-us {
        justify-content: center;
        align-items: center;
        width: 23vw;
        height: 40%;
        margin-top: 25px;
        padding: 0;
    }

    .contact-us
    h3 {
        text-align: center;
        font-size: 25px;
    }

    .contact-us img {
        width: 46px;
        height: 40px;
        margin-right: 10px;
    }

    .nav-contact {
        width: 50%;
        min-width: fit-content; 
        max-width: fit-content;
        height: 90%;
        margin-left: -15px;
        padding: 0 0 20px 0;
        font-size: 20px;
    }

    .nav-contact
    li {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        overflow-wrap: break-word;
        width: 100%;
        margin: 0;
        padding: 0 0 0 35px;
    }

    /* ----------------------------------------------------------- */



    
    /* Get Fit Section */
    /* ----------------------------------------------------------- */

    .get-fit-section {
        padding-bottom: 100px;
    }

    .get-fit-text-container {
        max-width: 46vw;
    }

    .get-fit-text-container
    p {
        margin-bottom: 0;
    }

    .get-fit-title {
        font-size: 42px;
    }

    .get-fit-paragraph {
        text-align: justify;
        font-size: 32px;
    }

    .get-fit-img {
        width: auto;
        margin-right: 33px;
    }

    .get-fit-img
    img {
        width: 267px;
        height: 236px;
    }

    /* ----------------------------------------------------------- */



    /* Info Section */
    /* ----------------------------------------------------------- */

    .info-section
    article {
        width: auto;
        font-size: 22px;
    }

    .info-section
    article
    p {
        line-height: 1.5;
    }

    /* ----------------------------------------------------------- */



    /* Form Section */
    /* ----------------------------------------------------------- */

    .form-section {
        padding-bottom: 40px;
    }

    .form-section 
    form {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 70px 10vw 0 10vw;
        height: 100%;
        gap: 30px;
    }

    .form-title {
        font-size: 45px;
    }

    .form-input {
        width: auto;
    }

    .form-input
    input,
    select {
        width: 27vw;
        max-width: 393px;
        height: 47px;
        margin-bottom: 46px;
    }

    .text-area-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-section
    textarea {
        width: 35vw;
        max-width:497px;
        height: 330px;
    }

    .form-button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 28vw;
        min-width: 323px;
        max-width: 446px;
    }

    .form-button
    button {
        width: 151px;
        height: 70px;
        font-size: 36px;
    }

    .form-button
    button[type="reset"] {
        margin-right: 0;
    }

    .form-button
    button
    img {
        width: 25px;
        height: 25px;
    }

    /* ----------------------------------------------------------- */



    /* History Section */
    /* ----------------------------------------------------------- */

    .history-section
    article {
        font-size: 50px;
        font-weight: 600;
        line-height: 1.3;
    }

    .history-section
    h3 {
        align-self: flex-start;
        margin-left: 44px;
    }

    .history-section
    p {
        margin-bottom: 70px;
        max-width: none;
        padding: 0 80px;
        text-align: justify;
    }

    /* ----------------------------------------------------------- */




    /* Business Section */
    /* ----------------------------------------------------------- */

    .business-section {
        padding: 70px 70px;
        gap: 50px;
    }

    .business-section
    article {
        width: 30vw;
        max-width: 330px;
    }

    .business-section
    div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 60vw;
        gap: 50px;
    }

    .business-section
    article
    h2 {
        align-self: flex-start;
        margin: 0 0 31px 0;
        padding: 15px 20px;
        border: 3px solid #373867;
        border-radius: 5px;
        font-size: 24px;
    }

    .business-section
    article
    h3 {
        margin: 0 0 31px 0;
        padding: 15px 20px;
        border: 3px solid #373867;
        border-radius: 5px;
        font-size: 24px;
        font-size: 24px;
    }

    .activities 
    ol {
        align-self: flex-start;
        font-size: 24px;
    }

    .business-section
    article
    ul {
        font-size: 24px;
    }

    .black-memb,
    .classic-memb,
    .only-classes-memb {
        padding-left: 0;
    }

    .black-memb {
        margin-top: 0;
    }

    .only-classes-memb,
    h3, ul {
        width: 325px;
    }

    .classic-memb
    h3 {
        width: 265px;
    }


    /* ----------------------------------------------------------- */




    /* Footer */
    /* ----------------------------------------------------------- */

    .footer{
        align-self: flex-end;
        width: 75%;
    }

    .footer
    p {
        width: auto;
        margin: 17px 0 20px 0;
        font-size: 28px;
    }

    .footer
    figure
    img {
        width: 71px;
        height: 71px;
        margin: 0 16px 10px 0;
    }

    /* ----------------------------------------------------------- */
}