@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

/* Variables */
/* ----------------------------------------------------------- */

:root {
    --primary-dark: #373867;
    --primary-light-green: #AACE9B;
    --background-gray: #D9D9D9;
    --background-navbar: #E5F2ED;
    --background-navbar-links:#51A884;
    --text-light: #fff;
    --text-dark: #000;
    --background-info-title:#88A47C;
}

/* ----------------------------------------------------------- */




/* Element Selectors */
/* ----------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 390px;
    height: 847px;
    background-color: var(--background-navbar);
}

address {
    margin-top: 24px;
}

h1 {
    margin-right: 10px;
}

/* ----------------------------------------------------------- */




/* General Classes */
/* ----------------------------------------------------------- */

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-color-black {
    color: var(--text-dark);
}

.font-color-white {
    color: var(--text-light);
}

.dark-background {
    background-color: var(--primary-dark);
}

.green-background {
    background-color: var(--primary-light-green);
}

.gray-background {
    background-color: var(--background-gray);
}

.hide {
    display: none;
}

/* ----------------------------------------------------------- */




/* Header */
/* ----------------------------------------------------------- */

.burger-icon {
    width: 20px;
    height: 15px;
    margin-left: 20px;
}

.main-logo {
    width: 150px;
    height: 31px;
}

/* ----------------------------------------------------------- */




/* NavBar */
/* ----------------------------------------------------------- */

.nav-links
li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 54px;
    margin-bottom: 23px;
    background-color: var(--background-navbar-links);
    border: solid 1px #000;
    border-radius: 20px;
    list-style-type: none;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;
}

.nav-links >
li >
a {
    color: var(--text-light);
    text-transform: uppercase;
    font-size: 32px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 414px;
    border: solid 1px #000;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--background-navbar-links);
}

.contact-us
h3 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.contact-us img {
    width: 46px;
    height: 40px;
    margin-bottom: 10px;
}

.nav-contact {
    width: 258px;
    height: 320px;
    padding: 0 20px;
    list-style-type: none;
    font-size: 20px;
}

.nav-contact
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 23px;
    text-align:center;
}

/* ----------------------------------------------------------- */




/* Get Fit Section */
/* ----------------------------------------------------------- */
.get-fit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.get-fit-title {
    width: 292px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.3;
}

.get-fit-paragraph {
    width: 365px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.get-fit-paragraph
p {
    margin-bottom: 25px;
    padding: 0 5px;
    font-weight: 300;
}

.get-fit-paragraph
h3 {
    margin: 15px 0;
    font-weight: 600;
}

.get-fit-img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

/* ----------------------------------------------------------- */




/* Info Section */
/* ----------------------------------------------------------- */

.info-section {
    width: 100%;
    padding: 24px;
    font-size: 27px;
}

.info-section
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.info-section
article
img {
    width: 110px;
    height: 110px;
    margin-bottom: 16px;
}

.info-section
h3 {
    width: 342px;
    padding: 16px 10px;
    background-color: var(--background-info-title);
    box-shadow: 0px 9px 5px -2px rgba(0,0,0,0.29);
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.art-become-member {
    bottom: 36px;
}

/* ----------------------------------------------------------- */




/* Form Section */
/* ----------------------------------------------------------- */

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-section
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-title {
    margin: 36px 39px;
    text-align: center;
    line-height: 1.3;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-input
input,
select {
    width: 312px;
    height: 34px;
    padding-left: 12px;
    margin-bottom:27px ;
    border-radius: 4px;
    border: 1px solid var(--background-navbar-links);
    box-shadow: -1px 2px 0px 1px rgba(73,163,123,0.12) inset;
    font-size: 14px;
}

::placeholder, select {
    color: var(--background-navbar-links);
}

.form-section
textarea {
    width: 312px;
    height: 122px;
    margin-bottom: 39px;
    padding: 5px 0 0 12px;
    border-radius: 4px;
    border: 1px solid var(--background-navbar-links);
    box-shadow: -1px 2px 0px 1px rgba(73,163,123,0.12) inset;
    font-size: 14px;
}

.form-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-button
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 38px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: var(--background-navbar-links);
    color: var(--text-dark);
    font-size: 18px;
}

.form-button
button[type="reset"] {
    margin-right: 112px;
}

.form-button
button
img {
    width: 14px;
    height: 13px;
    margin-right: 13px;
}

/* ----------------------------------------------------------- */




/* History Section */
/* ----------------------------------------------------------- */

.history-section {
    width: 100%;
}
.history-section
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.history-section
h3 {
    margin: 15px 0 31px 0;
    text-transform: uppercase;
    font-size: 50px;
}

.history-section
p {
    margin-bottom: 70px;
    padding: 0 25px;
    text-align: justify;
}



/* ----------------------------------------------------------- */




/* Business Section */
/* ----------------------------------------------------------- */

.business-section {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}

.business-section
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.business-section
article
h2 {
    font-size: 30px;
    font-weight:600;
    margin: 10px;
}

.business-section
article
h3 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}

.activities {
    font-size: 16px;
}

.activities 
ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.3;
}

.business-section
article
ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 70px ;
    line-height: 1.2;
}

.only-classes-memb
ul {
    margin-bottom: 40px;
}

/* ----------------------------------------------------------- */




/* Footer */
/* ----------------------------------------------------------- */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: -3px 10px 5px -8px rgba(0,0,0,0.75) inset;
    font-weight: 400;
}

.footer
p {
    margin: 17px 0 20px 0;
    width: 297px;
    font-size: 12px;
}

.footer
figure {
    margin-left: 20px;
}

.footer
figure
img {
    width: 34px;
    height: 34px;
    margin: 0 16px 10px 0;
}


/* ----------------------------------------------------------- */