.login-body {
	height: 100%;
}

.input-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sign-up-form {
	height: auto;
	margin: 20px;
	padding: 30px 60px;
}

.sign-up-input {
	width: 241px;
	height: 27px;
	margin-bottom: 15px;
	padding-left: 10px;
	border: 1px solid var(--primary-light-green);
	border-radius: 5px;
}

.sign-up-input-error {
	width: 241px;
	height: 27px;
	/* margin-bottom: 15px; */
	padding-left: 10px;
	border: 1px solid red;
	border-radius: 5px;
}

.sign-up-form label {
	align-self: flex-start;
	margin-bottom: 3px;
	font-size: 15px;
	color: var(--primary-dark);
}

.sign-up-link {
	margin-top: 15px;
}

@media (min-width: 1024px) {
	.sign-up-form {
		max-width: 950px;
	}
	.input-container {
		display: flex;
	}

	.input-container div {
		align-self: flex-start;
	}

	.left-col {
		margin-right: 100px;
	}

	#register-btn {
		margin-top: 20px;
	}
}
